/*
Colors : 
    - vert 1 : #7BA86A
    - vert 2 : #A9F58E
    - pink   : #F58682
    - blue 1 : #48A8A0
    - blue 2 : #76F5EA
*/

* 
{
    font-family: 'Source Sans Pro', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    text-align: center;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

header
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform-style: preserve-3d;
    z-index: -1;

    background-color: rgba(0, 0, 0, 0);
}

header p
{
    font-size: 1.5em;
    color:antiquewhite;
    text-align: left;
    padding: 0.7em;
}

h1
{
    color:antiquewhite;
    font-size: 4em;
    padding: 5%;
}

.parralax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;
}

.background {
    transform: translateZ(-10px) scale(2);
    height: 100%;
    width: 100%;
}

.foreground {
    transform: translateZ(-5px) scale(1.5);
    max-height: 25%;
    width: auto;
    top: -10%;
    left: 45%;
    cursor: pointer;
}
  
.background,
.foreground {
    position: absolute;
    object-fit: cover;
    z-index: -1;
}


/*
Navigation bar
*/
nav
{
    display: flex;
    justify-content: center;

    background-color: rgba(110, 140, 165, 0.60);

    z-index: 100;

    position: sticky;
    top: 0%;
}

nav p
{
    font-size: 90%;

    margin-left: 0.2%;
    margin-right: 0.2%;
    
    padding: 2%;

    border-radius: 10%;
    
    background-color: #48A8A0;
}

nav p:hover
{
    background-color: #76F5EA;
}


/*
Main elements
*/
.slide {
    position: relative;
    display: flex;
    justify-content: center;
  }

.arrow {
    visibility: hidden;
    position: absolute;

    cursor: pointer;

    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3em;

    background-color: rgba(0, 0, 0, 0.2);

    width: 10%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 1.5vw 0 0 ;

    border-width: 0;

    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
} 

.arrow:last-of-type {
    visibility: visible;
    left: inherit;
    right: 0;
    padding-left: 1.5vw;
}

.arrow:hover
{
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
  
.scrollable {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
}
  
.elem {
    flex-shrink: 0;
    width: 100vw;
    height: 100vh;
    background: teal;
}

section h2
{
    font-size: 200%;
    padding: 2%;
}


section span p
{
    font-family: 'Nanum Gothic', sans-serif;

    width: 5vw;
}

.controles
{
    display: flex;
    justify-content: space-around;
}

/*
Remplacer slide par bouton/fleche
Notion : animation, transform, transition
slider css : https://codepen.io/davidicus/pen/pvObpV
https://www.jag-conseil.com/guides/8-meilleurs-carrousels-en-css3-htm5-js-pour-site-web-moderne/#:~:text=Les%20carrousels%20en%20CSS%20%2F%20HTML,%2C%20etc...).
*/
section > slide
{
    transform: translateX(-100vw);
}

article:nth-of-type(1)
{
    background-color: #76F5EA;
}

article:nth-of-type(1) *:not(.arrow)
{
    background-color: #76F5EA;
}

article:nth-of-type(2)
{
    background-color: #F58682;
}

article:nth-of-type(2) *:not(.arrow)
{
    background-color: rgba(0, 0, 0, 0);
}

article:nth-of-type(2) canvas
{
    background-color: #F58682;
}

article:nth-of-type(3)
{
    background-color: #7BA86A;
}

article:nth-of-type(3) *:not(.arrow)
{
    background-color: #7BA86A;
}

article:nth-of-type(4)
{
    background-color: #A9F58E;
}

article:nth-of-type(4) *:not(.arrow)
{
    background-color: #A9F58E;
}







footer
{
    height: 20vh;
    background-color: #48A8A0;
}