/*
Colors : 
    - vert 1 : #7BA86A
    - vert 2 : #A9F58E
    - pink   : #F58682
    - blue 1 : #48A8A0
    - blue 2 : #76F5EA
*/

* 
{
    font-family: 'Source Sans Pro', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #A9F58E;
    margin: 0%;
    text-align: center;
}

header
{
    display: flex;
    flex-flow: column;
    justify-content: center;

    background-color: #A9F58E;

    margin: 2em 0.5em;
}

header > p
{
    font-size: 1.5em;
}

h1
{
    font-size: 4em;
}

nav
{
    display: flex;
    justify-content: center;

    background-color: rgba(110, 140, 165, 0.60);

    position: sticky;
    top: 0%;
}

nav p
{
    font-size: 90%;

    margin-left: 0.2%;
    margin-right: 0.2%;
    
    padding: 2%;

    border-radius: 10%;
    
    background-color: #48A8A0;
}

nav p:hover
{
    background-color: #76F5EA;
}

section
{
    height: 100vh;
    transition-duration: 1s;
    transition-timing-function: ease-in;
}

section:hover
{
    transform: translateX(-100vw);
}

section:nth-of-type(1)
{
    background-color: #76F5EA;
}

section:nth-of-type(2)
{
    background-color: #F58682;
}

section:nth-of-type(3)
{
    background-color: #7BA86A;
}

section:nth-of-type(4)
{
    background-color: #A9F58E;
}







footer
{
    height: 20vh;
    background-color: #48A8A0;
}