:root{
    --green1 : #7BA86A;
    --green2 : #A9F58E;
    --pink  : #F58682;
    --blue1 : #48A8A0;
    --blue2 : #76F5EA;
}

* 
{
    font-family: 'Source Sans Pro', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0%;
    text-align: center;
    font-weight: bold;
    color: white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar 
{
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body 
{
    -ms-overflow-style: none;  /* IE and Edge */
}

body .parralax > img
{
    position: absolute;
    max-height: 25%;
    width: auto;
    top: 20%;
    left: 42%;

    cursor: pointer;

    z-index: 2;
}

header
{
    display: flex;
    justify-content: center;

    position: relative;
    height: 110vh;

    transform-style: preserve-3d;

    background-color: rgba(0, 0, 0, 0);
}

header p
{
    position: relative;
    top: 35%;

    font-size: 1.5em;
    color:antiquewhite;
    text-align: left;
    padding: 0.7em;
}

h1
{
    position: relative;
    top: 40%;

    color:antiquewhite;
    font-size: 4em;
    padding: 8%;
}

.parralax {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 10px;

    scrollbar-width: none;
    -ms-overflow-style: none;
}

.background {
    position: absolute;
    object-fit: cover;

    transform: translateZ(-10px) scale(2);

    z-index: -1;
}


/*
Navigation bar
*/
nav
{
    position: sticky;
    top: 0%;

    text-align: left;

    width: 400px;

    background-color: rgba(73, 75, 75, 0.8);
    color: antiquewhite;

    z-index: 100;

    cursor: pointer;
}

nav i
{
    position: sticky;
    top: 0%;

    font-size: 3em;
    color: rgba(240, 248, 255, 0.8);
    font-style: normal;
}

nav .wrapper-nav
{   
    position: absolute;
    left: -400px;
    top: 3.5em;
    height: 100vh;

    width: 300px;
    
    background-color: rgba(73, 75, 75, 0.8);

    transition: left 0.5s ease-in-out;
}

nav .wrapper-nav a
{
    display: block;

    text-align: left;
    font-size: 2em;
    color: aliceblue;
    text-decoration: none;

    padding: 3% 5% 3% 5%;
    border-radius: 5px;
}

nav.displayed .wrapper-nav
{
    left: 0%;

    transition: left 0.5s ease-in-out;
}

nav .wrapper-nav a:hover
{
    background-color: rgba(110, 140, 165, 0.60);
}


/*
Main elements
*/
.slide {
    position: relative;
    display: flex;
    justify-content: center;
}

.arrow {
    visibility: hidden;
    position: absolute;

    cursor: pointer;

    font-family: 'Nanum Gothic', sans-serif;
    font-size: 3em;

    background-color: rgba(0, 0, 0, 0.2);

    width: 10%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 1.5vw 0 0 ;

    border-width: 0;

    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
} 

.arrow:last-of-type {
    visibility: visible;
    left: inherit;
    right: 0;
    padding-left: 1.5vw;
}

.arrow:hover
{
    background-color: rgba(0, 0, 0, 0.5);
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
  
.scrollable {
    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-x: hidden;
}
  
.elem {
    flex-shrink: 0;
    width: 100vw;
    height: auto;
    background: teal;
}


section h2
{
    font-size: 200%;
    padding: 2%;
}


section span p
{
    font-family: 'Nanum Gothic', sans-serif;

    width: 5vw;
}

.controles
{
    display: block;
    padding-bottom: 2.5%;
}

.controles *
{
    font-size: 1em;
    margin: 0.5%;
    padding: 0.5%
}

article
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.jeux
{
    /*background-color: var(--blue2);*/
    background-color: rgba(0, 0, 0, 0)
}

.jeux *:not(.arrow)
{
    background-color: rgba(0, 0, 0, 0)
}

.jeux canvas.affichage_mine ~ .controles:nth-of-type(2)
{
    display: none;
}

.anim
{
    background-color: rgba(0, 0, 0, 0)
}

.anim *:not(.arrow)
{
    background-color: rgba(0, 0, 0, 0);
}

.anim canvas, .affichage_dessin
{
    background-color: rgba(0, 0, 0, 0);
    border: white solid 2px;
}


footer
{
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;

    z-index : 10;
}

footer div
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0.5%;
    padding: 1%;

    width: 100%;
}

footer div p
{
    text-align: left;
    padding: 3%;
}

footer input:not(#pwd_vis)
{
    width: 75%;
}

@media all and (min-width: 576px)
{
    footer 
    {
        flex-direction: row;
    }

    footer > div:nth-of-type(1)
    {
        border-right: solid white 2px;
        border-style: solid;
        border-color: white;
        border-width: 0px 2px 0px 0px;
    }


    .background {
        width: 100%;
    }
}


